.ghost {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.ghost-red {
    fill: red;
}

.ghost-orange {
    fill: orange;
}

.ghost-blue {
    fill: lightblue;
}

.ghost-pink {
    fill: hotpink;
}